#root {
  min-width: min-content;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  transition: 0.4s ease;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: center;
}

section {
  width: 80%;
  transition: 0.4s ease;
}

section img {
  margin: 10px;
}


@media only screen and (max-width: 920px) {
  header {
    flex-direction: column-reverse;
  }
  section {
    width: 100%;
  }
  header h1 {
    margin: 20px;
    font-size: 32px;
  }
  .toggle {
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: end;
    margin-right: 10px;
  }
  .toggle button {
    margin: 10px 0 -10px 0;
  }
  header button {
    margin: -15px 0 15px 0;
    left: 0 !important;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #333;
  }
}